################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpArrayListObjectsTask/.vs/CSharpArrayListObjectsTask
/CSharpArrayListObjectsTask/CSharpArrayListObjectsTask/bin/Debug/netcoreapp3.1
/CSharpArrayListObjectsTask/CSharpArrayListObjectsTask/obj
